@charset "UTF-8";
/*Colores y Fuentes de letra*/
.imagenes, .fondo2 .img, .fondo3 .img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*Pagina Principal index.html*/
.fondo { background-size: cover; background-repeat: no-repeat; background-image: url(../imagen/alien-7015541_19202.jpg); }

.fondo .titulo { color: white; padding: 10rem 10rem 10rem 9rem; font-size: 4rem; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

/*Navegador Principal*/
.nombre { color: lime; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link { color: white; }

.navbar-light .navbar-nav .nav-link { color: white; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: white; }

.navbar-light .navbar-nav .nav-link:hover { color: white; background-color: lime; border-color: lime; }

.bg-color { background-color: black !important; }

.dropdown-menu { font-size: 1rem; color: white; text-align: left; list-style: none; background-color: black; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 0.25rem; }

.dropdown-item { display: block; width: 100%; padding: 0.25rem 1rem; clear: both; font-weight: 400; color: white; text-align: inherit; text-decoration: none; white-space: nowrap; background-color: transparent; border: 0; }

.btn-primary { font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; background-color: green; border-radius: 30px; border-color: white; }

.btn-primary:hover { -webkit-transform: translate(5px, 9px); transform: translate(5px, 9px); -webkit-transition: all 0.8s; transition: all 0.8s; color: white; background-color: lime; border-color: lime; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.navbar-toggler { background-color: lime; }

/*Diseño del footer*/
footer { max-width: 100%; background-color: #000000; margin: 10px 0 0px 0px; text-align: center; padding: 6px; color: white; font-family: Arial, Helvetica, sans-serif; }

footer .redes ul li { display: inline; font-size: 2rem; list-style: none; color: white; }

footer .redes ul li a { color: white; }

footer .redes ul li a:hover { color: lime; }

/*PAGINA PRINCIPAL BITCOIN.HTML*/
.fondo2 { background-size: cover; background-repeat: no-repeat; background-image: url(../imagen/F1000140872.jpg); }

.fondo2 .titulo2 { color: lime; text-align: center; }

.fondo2 .subtitulo { color: #eeff00; text-align: center; padding-bottom: 10px; }

.fondo2 .historia { color: white; text-align: left; padding: 10px; }

.fondo2 p { color: white; text-align: justify; font-family: Arial, Helvetica, sans-serif; }

.fondo2 .img .btc { max-width: 100%; padding: 10px; border-radius: 100px; }

.fondo2 .img .btc:hover { color: white; background-color: black; border-color: black; -webkit-transform: translate(2px, 4px); transform: translate(2px, 4px); -webkit-transition: all 0.8s; transition: all 0.8s; }

/*Pagina Principal Contacto.html*/
.fondo4 { color: white; background-repeat: no-repeat; background-image: url(../imagen/fantasy-4523944_19202.jpg); }

.btn-green { color: white; background-color: black; border-color: #000000; }

.btn-green:hover { color: white; background-color: lime; border-color: lime; }

.btn-primary { font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; background-color: green; border-radius: 30px; }

.btn-primary:hover { -webkit-transform: translate(5px, 9px); transform: translate(5px, 9px); -webkit-transition: all 0.8s; transition: all 0.8s; color: white; background-color: lime; border-color: lime; font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

/*PAGINA PRINCIPAL Ethereum.HTML*/
.fondo3 { background-size: cover; background-repeat: no-repeat; background-image: url(../imagen/pexels-jievani-81856272.jpg); }

.fondo3 .titulo3 { color: lime; text-align: center; }

.fondo3 .subtitulo1 { color: #eeff00; text-align: center; padding-bottom: 10px; }

.fondo3 .historia2 { color: white; text-align: left; padding: 10px; }

.fondo3 p { color: white; text-align: justify; font-family: Arial, Helvetica, sans-serif; }

.fondo3 .img .eth { max-width: 100%; padding: 10px; border-radius: 100px; }

.fondo3 .img .eth:hover { color: white; background-color: white; border-color: black; -webkit-transform: translate(2px, 4px); transform: translate(2px, 4px); -webkit-transition: all 0.8s; transition: all 0.8s; }
/*# sourceMappingURL=estilo.css.map */